PUBLIC_API_URL=http://localhost:8787
ALLOWED_ORIGINS=http://localhost:4321,https://nomad.santi020k.com
AUTH_EMAIL_FROM="Nomad Counter <login@nomad.santi020k.com>"
RESEND_API_KEY=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_D1_DATABASE_ID=
