---
import type { CollectionEntry } from 'astro:content'

import BaseHead from '@atoms/base-head.astro'

import { getLocale } from '@utils/lang-utils'

import '@i18n'
import '@fontsource-variable/inter'

type Props = CollectionEntry<'pages'>['data']

const { title, description } = Astro.props

const locale = getLocale(Astro.url)
---

<!doctype html>
<html lang={locale} transition:animate="none">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <!-- Prose: https://github.com/tailwindlabs/tailwindcss-typography -->
  <body class="prose max-w-none antialiased">
    <slot />
  </body>
</html>

<script is:inline src="./node_modules/preline/preline.js"></script>

<!-- TODO: Move to global styles -->
<style>
  * {
    font-family: 'Inter Variable', Cabin, system-ui, Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  html {
    transition: background 0.5s;
    scroll-behavior: smooth;
  }
</style>
