---
import i18next, { t } from 'i18next'
import { HeadHrefLangs } from 'astro-i18next/components'

interface Props {
  title: string
}

const { title } = Astro.props
const themes = ['light', 'dark'];
---

<!doctype html>
<html data-theme={themes[0]} lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta
      name="description"
      content={t('site.description') ?? 'Nomad Counter Description'}
    />
    <title>{title ?? t('site.title')}</title>

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="favicon/site.webmanifest" />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Roboto:ital,wght@0,100;1,100&display=swap" rel="stylesheet">

    <HeadHrefLangs />
  </head>
  <!-- Prose: https://github.com/tailwindlabs/tailwindcss-typography -->
  <body class="prose max-w-none">
    <slot />
  </body>
</html>
