---
import Footer from '@organisms/footer.astro'
import Navbar from '@organisms/navbar.astro'
---

<main class="relative min-h-screen">
  <!-- Nav -->
  <Navbar />
  <!-- Content -->
  <slot />
  <!-- Footer -->
  <Footer />
</main>
