---
import Footer from '@organisms/footer.astro'
import Navbar from '@organisms/navbar.astro'
---

<div class="relative min-h-screen">
  <!-- Nav -->
  <Navbar />
  <!-- Content -->
  <main transition:animate="fade">
    <slot />
  </main>
  <!-- Footer -->
  <Footer />
</div>
