---
import i18next from '@libs/i18n/i18n'

import { handleToggleLanguage } from '@utils/redirects-utils'

const pathname = Astro.url.pathname
---

<a href={handleToggleLanguage({ pathname })}>
  <div tab-index={0} class="avatar placeholder btn btn-circle btn-ghost">
    <div class="w-12 rounded-full bg-transparent text-current">
      <span>{i18next.language.toUpperCase()}</span>
    </div>
  </div>
</a>
