---
import i18next from 'i18next'

import { getLocale, toggleLanguage } from '@utils/lang-utils'

const pathname = Astro.url.pathname
const language = getLocale(Astro.url)
---

<a href={toggleLanguage({ pathname, language })}>
  <div tab-index={0} class="avatar placeholder btn btn-circle btn-ghost">
    <div class="w-12 rounded-full bg-transparent text-current">
      <span>{i18next.language.toUpperCase()}</span>
    </div>
  </div>
</a>
