---
import i18next from '@libs/i18n/i18n'

import { handleToggleLanguage } from '@utils/redirects-utils'

const pathname = Astro.url.pathname
---

<a href={handleToggleLanguage({ pathname })}>
  <div tab-index={0} class="btn btn-ghost btn-circle avatar placeholder">
    <div class="bg-transparent text-current rounded-full w-12">
      <span>{i18next.language.toUpperCase()}</span>
    </div>
  </div>
</a>
