---
import { IconMoon, IconSunHigh } from '@tabler/icons-react'

---

<script>
  import { type Theme, themes } from '@models/theme-model'

  const THEME_ACTIONS = {
    [themes.enum.dark]: () => document.documentElement.classList.add('dark'),
    [themes.enum.light]: () => document.documentElement.classList.remove('dark'),
  };

  const BASE_BUTTON_CLASS = 'btn btn-circle swap swap-rotate h-12 w-12';

  const BUTTON_CLASSES = {
    [themes.enum.dark]: `${BASE_BUTTON_CLASS} btn-secondary`,
    [themes.enum.light]: `${BASE_BUTTON_CLASS} btn-primary`,
  };

  const themeLogic = () => {
    const inputDocument = document.getElementById('toggle-theme-button') as HTMLInputElement
    const labelDocument = document.getElementById('toggle-theme-button-label') as HTMLLabelElement

    const handleTheme = (theme: Theme): void => {
      localStorage.setItem('theme', theme)
      document.documentElement.setAttribute('data-theme', theme)
      THEME_ACTIONS[theme]();

      labelDocument.className = BUTTON_CLASSES[theme];
      inputDocument.checked = theme === themes.enum.light
    }

    const extractTheme = (): Theme => {
      const defaultIsDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
      const theme = defaultIsDark ? themes.enum.dark : themes.enum.light
      return (window?.localStorage?.getItem('theme') ?? theme) as Theme
    }

    inputDocument.addEventListener('change', () => {
      const currentTheme = extractTheme()
      handleTheme(currentTheme === themes.enum.dark ? themes.enum.light : themes.enum.dark)
    })

    handleTheme(extractTheme())
  }

  document.addEventListener('astro:after-swap', themeLogic)
  window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', themeLogic)
  themeLogic()
</script>

<label
  for="toggle-theme-button"
  id="toggle-theme-button-label"
  class="btn-primary btn btn-circle swap swap-rotate h-12 w-12"
  aria-label="light dark theme toggle"
>
  <input
    type="checkbox"
    id="toggle-theme-button"
    class="hidden"
  />
  <span class="swap-on fill-current">
    <IconSunHigh size={18} />
  </span>
  <span class="swap-off fill-current">
    <IconMoon size={18} />
  </span>
</label>
