---
import { t } from '@i18n'
---

<header class="hero min-h-[calc(100dvh-128px)] bg-base-200 sm:min-h-[calc(100dvh-97px)]">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <span
        class="badge badge-secondary mb-1 h-auto rounded-md border-b-secondary bg-gradient-to-r
        from-primary via-purple-500 to-secondary"
      >
        {t('home:hero.badge')}
      </span>
      <h1 class="mb-8 text-5xl font-bold sm:text-8xl">{t('home:hero.title')}</h1>
      <a href="#calc" class="btn-primary btn rounded-full">{t('home:hero.actionLeft')}</a>
      <!-- TODO: comming soon -->
      <!-- <button class="btn btn-secondary">{t('home:hero.actionRight')}</button> -->
    </div>
  </div>
</header>
