<div
  class="inline-flex flex-col items-start justify-center gap-[66px] bg-gradient-to-bl
    from-violet-950 to-violet-900 py-40 opacity-95">
  <div class="inline-flex items-start justify-center gap-2.5 self-stretch p-4">
    <div class="shrink grow basis-0 text-center text-4xl font-bold tracking-tight text-white">
      You might be wondering...
    </div>
  </div>
  <div class="flex h-[1446px] flex-col items-center justify-center gap-8 self-stretch px-8 py-4">
    <div class="inline-flex items-start justify-start gap-5 self-stretch border-b border-gray-200 pb-8">
      <div class="relative size-6"></div>
      <div class="inline-flex shrink grow basis-0 flex-col items-start justify-start gap-2">
        <div class="self-stretch text-lg font-semibold tracking-tight text-white">
          {'Why did we create this project?'}
        </div>
        <div class="self-stretch text-base font-normal leading-normal tracking-tight text-white">
          {'We created this project to provide a comprehensive platform for digital nomads,'}
          {'allowing them to track their days in different countries and facilitating comparisons.'}
          {'Our goal is to offer insights into the experiences of fellow nomads and provide valuable'}
          {'information on minimizing tax obligations.'}
        </div>
      </div>
    </div>
    <div class="inline-flex items-start justify-start gap-5 self-stretch border-b border-gray-200 pb-8">
      <div class="relative size-6"></div>
      <div class="inline-flex shrink grow basis-0 flex-col items-start justify-start gap-2">
        <div class="self-stretch text-lg font-semibold tracking-tight text-white">
          {'Who is the project designed for?'}
        </div>
        <div class="self-stretch text-base font-normal leading-normal tracking-tight text-white">
          {'This project is designed for digital nomads, freelancers,'}
          {'and remote workers who embrace a location-independent lifestyle.'}
          {'Whether you\'re a seasoned traveler or just starting your nomadic journey,'}
          {'this platform is tailored to meet your needs.'}
        </div>
      </div>
    </div>
    <div class="inline-flex items-start justify-start gap-5 self-stretch border-b border-gray-200 pb-8">
      <div class="relative size-6"></div>
      <div class="inline-flex shrink grow basis-0 flex-col items-start justify-start gap-2">
        <div class="self-stretch text-lg font-semibold tracking-tight text-white">
          {'What is the significance of the 183-day rule for tax payments?'}
        </div>
        <div class="self-stretch text-base font-normal leading-normal tracking-tight text-white">
          {'The 183-day rule is a legal guideline that determines tax residency in many countries.'}
          {'Spending more than 183 days in a specific location may trigger tax obligations.'}
          {'We provide information on understanding and navigating this rule to help you manage'}
          {'your tax responsibilities as a digital nomad.'}
        </div>
      </div>
    </div>
    <div class="inline-flex items-start justify-start gap-5 self-stretch border-b border-gray-200 pb-8">
      <div class="relative size-6"></div>
      <div class="inline-flex shrink grow basis-0 flex-col items-start justify-start gap-2">
        <div class="self-stretch text-lg font-semibold tracking-tight text-white">
          {'How can I optimize my time spent in different countries for tax purposes?'}
        </div>
        <div class="self-stretch text-base font-normal leading-normal tracking-tight text-white">
          {'Our platform offers insights and strategies to optimize your time spent in various'}
          {'countries to minimize tax implications. From understanding legal requirements to'}
          {'practical tips, we aim to empower you with the knowledge needed to make informed'}
          {'decisions.'}
        </div>
      </div>
    </div>
    <div class="inline-flex items-start justify-start gap-5 self-stretch border-b border-gray-200 pb-8">
      <div class="relative size-6"></div>
      <div class="inline-flex shrink grow basis-0 flex-col items-start justify-start gap-2">
        <div class="self-stretch text-lg font-semibold tracking-tight text-white">
          {'Are there additional legal considerations for digital nomads?'}
        </div>
        <div class="self-stretch text-base font-normal leading-normal tracking-tight text-white">
          {'Yes, there are various legal considerations for digital nomads, including visa requirements,'}
          {'work permits, and tax regulations. Our FAQs don’t cover these aspects to ensure you are'}
          {'well-informed and can navigate legal complexities seamlessly.'}
        </div>
      </div>
    </div>
  </div>
</div>
