---
import { t } from 'i18next'
---

<header
  class="background-animation mt-[-128px] min-h-screen bg-[url('/assets/bg/hero.webp')]
  bg-contain bg-repeat transition-opacity sm:mt-[-97px]"
>
  <div class="hero h-screen w-screen bg-base-200/80">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <span
          class="badge badge-secondary mb-1 h-auto rounded-md border-primary bg-gradient-to-r
          from-purple-950 to-primary text-white"
        >
          {t('home:hero.badge')}
        </span>
        <h1 class="mb-8 text-5xl font-bold sm:text-8xl">{t('home:hero.title')}</h1>
        <a href="#calc" class="btn-primary btn rounded-full">{t('home:hero.actionLeft')}</a>
        <!-- TODO: comming soon -->
        <!-- <button class="btn btn-secondary">{t('home:hero.actionRight')}</button> -->
      </div>
    </div>
  </div>
</header>

<!-- TODO: Move this to separate file -->
<style>
  .background-animation {
    animation: backgroundAnimation 40s ease infinite;
  }

  @keyframes backgroundAnimation {
    0% {
      background-position: 0% 30%, 0 0;
    }
    50% {
      background-position: 100% 70%, 0 0;
    }
    100% {
      background-position: 0% 30%, 0 0;
    }
  }
</style>
