---
interface Props extends astroHTML.JSX.InputHTMLAttributes {
  id: string
  inputName: string
  label: string
  class?: string
}

const {
  class: className = '',
  id,
  inputName,
  label,
  type: _type,
  ...rest
} = Astro.props as Props

const classes = ['check', className].filter(Boolean).join(' ')
---

<label class={classes}>
  <input id={id} name={inputName} type="checkbox" {...rest} />
  <span>{label}</span>
</label>
