---
interface Props extends astroHTML.JSX.InputHTMLAttributes {
  id: string
  inputName: string
  label: string
  class?: string
}

const {
  class: className = '',
  id,
  inputName,
  label,
  type: _type,
  ...rest
} = Astro.props as Props

const classes = ['ui-checkbox', className].filter(Boolean).join(' ')
---

<label class={classes}>
  <input id={id} name={inputName} type="checkbox" class="ui-checkbox-native" {...rest} />
  <span class="ui-checkbox-row">
    <span class="ui-checkbox-switch" aria-hidden="true">
      <span class="ui-checkbox-knob"></span>
    </span>
    <span class="ui-checkbox-label">{label}</span>
  </span>
</label>
