---
type Props = astroHTML.JSX.TextareaHTMLAttributes

const {
  class: className = '',
  ...rest
} = Astro.props as Props & { class?: string }

const textareaClasses = ['ui-textarea', className].filter(Boolean).join(' ')
---

<div class="ui-textarea-shell">
  <span class="ui-textarea-shell__accent" aria-hidden="true"></span>
  <textarea class={textareaClasses} {...rest}></textarea>
</div>
