---
import LogoIcon from '@atoms/icons/logo-icon.astro'
import HeartsIcon from '@atoms/icons/hearts-icon.astro'
import InstagramIcon from '@atoms/icons/instagram-icon.astro'
import YoutubeIcon from '@atoms/icons/youtube-icon.astro'
import TwitterIcon from '@atoms/icons/twitter-icon.astro'
---

<div class="relative h-20" />

<footer class="footer items-center p-4 bg-base-300 absolute bottom-0">
  <aside class="items-center grid-flow-col">
    <LogoIcon size={24} />
    <p>By @santi020k with</p>
    <HeartsIcon size={24} />
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a href="https://www.instagram.com/santi020k/" target="_blank" referrerpolicy="no-referrer">
      <InstagramIcon size={24} />
    </a>
    <a href="https://www.youtube.com/channel/UCqF4wgazBVcWtNrjSnHiItw" target="_blank" referrerpolicy="no-referrer">
      <YoutubeIcon size={24} />
    </a>
    <a href="https://twitter.com/santi020k" target="_blank" referrerpolicy="no-referrer">
      <TwitterIcon size={24} />
    </a>
  </nav>
</footer>
