---
import {
  IconBrandGithub,
  IconBrandInstagram,
  IconBrandLinkedin
} from '@tabler/icons-react'

import { localizePath, t } from '@utils/lang-utils';
---

<!-- TODO: Refactor to smaller components -->

<footer
  class="inline-flex w-full flex-col items-start justify-start gap-5 bg-gradient-to-r
  from-violet-900 to-purple-400 p-8 md:bg-gradient-to-r md:from-violet-900 md:to-purple-700 md:p-16"
>
  <h3 class="m-0 text-3xl font-bold tracking-tight text-white">
    {'Nomad Counter'}
  </h3>

  <div class="flex flex-col items-start justify-start gap-16 self-stretch md:flex-row md:gap-8 lg:gap-16">

    <!-- About -->
    <div class="flex flex-col items-start justify-start gap-4 self-stretch md:w-[40%]">
      <h4 class="m-0 text-xl font-bold tracking-tight text-white">
        {'About'}
      </h4>
      <div class="flex flex-col gap-2 self-stretch text-base font-normal leading-normal tracking-tight text-white">
        <p class="m-0">
          {'This platform, created by Santi020k, is your gateway to the digital nomad lifestyle.'}
        </p>
        <p class="m-0">
          {'Learn how to navigate your days in diverse'}
          {'countries and discover effective strategies to prevent tax implications'}
          {'when surpassing 183 days in a single location.'}
        </p>
      </div>
    </div>

    <!-- Explore -->
    <div class="flex flex-col items-start justify-start gap-4 self-stretch md:w-[20%]">
      <h4 class="m-0 text-xl font-bold tracking-tight text-white">
        {'Explore'}
      </h4>
      <div class="flex flex-col items-start justify-start gap-2.5">
        <a
          href="#faqs"
          class="text-left text-base font-semibold leading-normal tracking-tight
            text-white no-underline hover:text-violet-200"
        >
          {'FAQ’s'}
        </a>
        <a
          href="#calc"
          class="text-left text-base font-semibold leading-normal tracking-tight
            text-white no-underline hover:text-violet-200"
        >
          {'Start Counting'}
        </a>
      </div>
    </div>

    <!-- Legal -->
    <div class="flex flex-col items-start justify-start gap-4 self-stretch md:w-[20%]">
      <h4 class="m-0 text-xl font-bold tracking-tight text-white">
        {'Legal'}
      </h4>
      <div class="flex flex-col items-start justify-start gap-2.5">
        <a
          href={localizePath('/privacy-policy')}
          class="text-left text-base font-semibold leading-normal tracking-tight text-white
          no-underline transition-all hover:text-violet-200"
        >
          {t('common:pages.privacy')}
        </a>
        <a
          href={localizePath('/terms')}
          class="text-left text-base font-semibold leading-normal tracking-tight text-white
          no-underline transition-all hover:text-violet-200">
          {t('common:pages.terms')}
        </a>
      </div>
    </div>

    <!-- Developed By -->
    <div class="flex flex-col items-start justify-start gap-4 self-stretch md:w-[20%]">
      <h4 class="m-0 text-xl font-bold tracking-tight text-white">
        {'Developed By'}
      </h4>
      <nav class="flex flex-col items-start justify-start self-stretch">
        <a
          href="https://santi020k.me"
          target="_blank"
          class="text-left text-base font-semibold leading-normal tracking-tight text-white
          no-underline transition-all hover:text-violet-200"
        >
            @{t('common:generic.santi020k')}
        </a>

        <div class="inline-flex items-start justify-start gap-2.5 self-stretch">
          <!-- Github -->
          <a
            href="https://github.com/santi020k/"
            target="_blank"
            referrerpolicy="no-referrer"
            class="text-white no-underline transition-all hover:text-violet-200"
            aria-label="Go to my youtube page"
          >
            <span class="flex size-[46px] items-center justify-center rounded-lg">
              <IconBrandGithub size={24} />
            </span>
          </a>

          <!-- Instagram -->
          <a
            href="https://www.instagram.com/santi020k/"
            target="_blank"
            referrerpolicy="no-referrer"
            class="text-white no-underline transition-all hover:text-violet-200"
            aria-label="Go to my instagram page"
          >
            <span class="flex size-[46px] items-center justify-center rounded-lg">
              <IconBrandInstagram size={24} />
            </span>
          </a>

          <!-- Linkedin -->
          <a
            href="https://linkedin.com/in/santi020k"
            target="_blank"
            referrerpolicy="no-referrer"
            class="text-white no-underline transition-all hover:text-violet-200"
            aria-label="Go to my twitter page"
          >
            <span class="flex size-[46px] items-center justify-center rounded-lg">
              <IconBrandLinkedin size={24} />
            </span>
          </a>
        </div>
      </nav>
    </div>

  </div>
</footer>
