---
import { IconBrandInstagram, IconBrandX, IconBrandYoutube, IconHeart } from '@tabler/icons-react'

import { localizePath, t } from '@utils/lang-utils'
---

<div class="relative h-32 sm:h-24 md:h-14" />

<footer class="absolute bottom-0 w-screen bg-base-300">
  <div class="container mx-auto">
    <div class="footer items-center gap-y-px p-4">
      <nav class="mb-4 flex grid-flow-col flex-wrap items-center gap-1 md:mb-0">
        <p class="m-0"><span class="text-primary">N</span> <span class="text-secondary">C</span></p>
        <p class="m-0 flex gap-1">
          {t('common:generic.by')}
          <a
            href="https://santi020k.me"
            target="_blank"
            class="transition-all hover:text-primary"
          >
            @{t('common:generic.santi020k')}
          </a>
          {t('common:generic.with')}
        </p>
        <span class="text-red-600">
          <IconHeart />
        </span>
        |
        <a
          href={localizePath('/privacy-policy')}
          class="transition-all hover:text-primary"
        >
          {t('common:pages.privacy')}
        </a>
        | <a href={localizePath('/terms')} class="transition-all hover:text-primary">{t('common:pages.terms')}</a>
      </nav>
      <nav class="grid-flow-col gap-1 md:place-self-center md:justify-self-end">
        <a
          href="https://www.instagram.com/santi020k/"
          target="_blank"
          referrerpolicy="no-referrer"
          class="no-underline transition-all hover:text-primary"
          aria-label="Go to my instagram page"
        >
          <IconBrandInstagram />
        </a>
        <a
          href="https://www.youtube.com/channel/UCqF4wgazBVcWtNrjSnHiItw"
          target="_blank"
          referrerpolicy="no-referrer"
          class="no-underline transition-all hover:text-primary"
          aria-label="Go to my youtube page"
        >
          <IconBrandYoutube />
        </a>
        <a
          href="https://twitter.com/santi020k"
          target="_blank"
          referrerpolicy="no-referrer"
          class="no-underline transition-all hover:text-primary"
          aria-label="Go to my twitter page"
        >
          <IconBrandX />
        </a>
      </nav>
    </div>
  </div>
</footer>
