---
import ToggleLanguage from '@molecules/buttons/toggle-language-button.astro'
import ToggleTheme from '@molecules/buttons/toggle-theme-button/index.astro'
import SessionHandler from '@molecules/session-handler/index.astro'
---

<nav class="navbar w-auto border-b-stone-200 border-b">
  <div class="py-4 container mx-auto flex flex-col sm:flex-row">
    <div class="flex-1 mb-4 sm:mb-0">
      <a href="/" class="btn btn-ghost normal-case text-5xl h-auto leading-8">
        <span class="text-primary">Nomad</span> <span class="text-secondary">Counter</span>
      </a>
    </div>
    <div class="flex flex-row gap-3">
      <div class="flex items-center">
        <SessionHandler />
      </div>
      <div class="flex-none">
        <ToggleLanguage />
      </div>
      <div class="flex-none">
        <ToggleTheme />
      </div>
    </div>
  </div>
</nav>
