---
import ToggleLanguage from '@molecules/buttons/toggle-language-button.astro'
import ToggleTheme from '@molecules/buttons/toggle-theme-button/index.astro'
import SessionHandler from '@molecules/session-handler/index.astro'
---

<nav
  class="navbar sticky top-0 z-30 flex w-auto justify-center border-b border-b-stone-200
  bg-base-100/90 p-0 text-base-content shadow-sm backdrop-blur transition-all
  duration-100 [transform:translate3d(0,0,0)] dark:border-b-stone-700 sm:p-2"
>
  <div class="container mx-auto flex flex-col py-4 sm:flex-row">
    <div class="mb-4 flex-1 sm:mb-0">
      <div class="h-auto cursor-default text-4xl font-semibold normal-case leading-8 sm:text-5xl">
        <span class="text-primary">Nomad</span> <span class="text-secondary">Counter</span>
      </div>
    </div>
    <div class="flex flex-row gap-2">
      <div class="flex items-center">
        <SessionHandler />
      </div>
      <div class="flex-none">
        <ToggleLanguage />
      </div>
      <div class="flex-none">
        <ToggleTheme />
      </div>
    </div>
  </div>
</nav>
