---
import Modal from '@molecules/modal.astro'

const isLogged = false;
---
<!-- TODO: Refactor small components -->
<div class="p-4">
  <nav class="navbar bg-base-300 rounded-lg w-auto">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl">Nomad Counter</a>
    </div>
    <div class="flex-none">
      {isLogged ? (
      <div class="dropdown dropdown-end">
        // TODO: Logued with profile picture
        // <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        //   <div class="w-10 rounded-full">
        //     <img src="/images/stock/photo-1534528741775-53994a69daeb.jpg" />
        //   </div>
        // </label>
        // TODO: Logued without profile picture
        // <label tabindex="0" class="btn btn-ghost btn-circle avatar placeholder">
        //   <div class="bg-neutral-focus text-neutral-content rounded-full w-12">
        //     <span>SM</span>
        //   </div>
        // </label>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <li>
            <a class="justify-between">
              Profile
              <span class="badge">New</span>
            </a>
          </li>
          <li><a>Settings</a></li>
          <li><a>Logout</a></li>
        </ul>
      </div>
      ) : (
        <Modal modalId="login" btnText='Login'>
          Building
        </Modal>
      )}
    </div>
  </nav>
</div>