---
import ToggleLanguage from '@molecules/buttons/toggle-language-button.astro'
import ToggleTheme from '@molecules/buttons/toggle-theme-button/toggle-theme-button.astro'
import SessionHandler from '@molecules/session-handler/session-handler'

import { t } from '@utils/lang-utils'

// TODO: Add alias
import { version } from '../../../package.json';
---

<header
  class="sticky top-0 z-30 flex w-full flex-wrap bg-white/80 text-sm shadow-sm
  backdrop-blur transition-all duration-100 [transform:translate3d(0,0,0)] dark:bg-gray-800
  dark:shadow-[0_1px_2px_0_rgba(255,255,255,0.05)]"
>
  <nav
    class="mx-auto flex w-full max-w-[85rem] basis-full flex-wrap items-center justify-between gap-4 p-4"
    aria-label="Global"
  >
    <div class="row flex w-full justify-center gap-3">
      <a href="/" class="text-[26px] font-bold leading-none text-americViolet-500 decoration-0 dark:text-magenta-500">
        {'Nomad Counter'}
      </a>
      <div class="flex items-center gap-x-2">
        <span
          class="inline-flex items-center gap-x-1.5 rounded-full bg-white
          px-3 py-1.5 text-xs font-medium text-gray-800 dark:border-gray-700 dark:bg-slate-900 dark:text-white"
        >
          {`v${version}`}
        </span>
      </div>
    </div>

    <div class="hs-collapse grow basis-full overflow-hidden transition-all duration-300">
      <div class="flex flex-col gap-5">
        <div class="flex flex-row justify-center gap-2">
          <div class="flex">
            <ToggleLanguage />
          </div>
          <div class="flex">
            <ToggleTheme />
          </div>
          <div class="flex items-center">
            <SessionHandler logoutText={t('common:messages.auth.logout')} client:only="react" />
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
