---
import { t, changeLanguage } from 'i18next'
import { Trans } from 'astro-i18next/components'
import HtmlLayout from '@layouts/html-layout.astro'
import MainLayout from '@layouts/main-layout.astro'

void changeLanguage('es');
---

<HtmlLayout title={t('home.title')}>
  <MainLayout>
    <h1>{t('home.title')}</h1>
    <p>
      <Trans i18nKey="home.subtitle">
        This is a <em>more complex</em> string to translate, mixed with <strong
          >html elements
        </strong> such as <a href="https://example.com/">a cool link</a>!
      </Trans>
    </p>
  </MainLayout>
</HtmlLayout>
