---
import Datepicker from '@atoms/datepicker.astro'
import Input from '@atoms/input.astro'

import { t } from '@utils/lang-utils'
---

<section id="calc" class="container mx-auto flex min-h-screen items-center justify-center py-[128px] sm:py-[97px]">
  <form class="p-4">
    <div class="space-y-6">
      <h2 class="mt-0 text-base font-semibold leading-7">{t('home:counting.title')}</h2>
      <p class="mt-1 text-sm leading-6">
        {t('home:counting.description')}
      </p>

      <!-- Country -->
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-12">
        <div class="sm:col-span-4">
          <Input name={t('home:counting.country')} required />
        </div>

        <!-- Arrived -->
        <div class="sm:col-span-4">
          <Datepicker name={t('home:counting.arrived')} required />
        </div>

        <!-- Departed -->
        <div class="sm:col-span-4">
          <Datepicker name={t('home:counting.departed')} required />
        </div>
      </div>
    </div>

    <div class="mt-14 flex items-center justify-end gap-x-6">
      <button type="submit" class="btn-primary btn">
        {t('home:counting.action')}
      </button>
    </div>
  </form>
</section>
